body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;
}
nav {
    background-color: #333;
    padding: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}
section {
    padding: 20px;
}
.carro {
    background-color: white;
    border: 10px solid #000000;
    padding: 10px;
    margin: 10px;
}
.carro img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
